<div class="flex-col flex-grow h-full text-saffron-mango-900 px-2" data-venue-details-target="detailsDiv">
  <div class="flex flex-col items-end h-full mt-3">
    <p><%= venue.address %></p>
    <p><%= venue.phone %></p>
    <%= link_to "#{venue.website}", venue.website, class: "transition ease-in-out duration-300 text-saffron-mango-800 hover:text-saffron-mango-950" %>
    <h4 class="mt-3 text-xs">Opening hours</h4>
    <% if venue.hours %>
      <% JSON.parse(venue.hours).each do |hours| %>
        <p class="text-xs"><%= hours %></p>
      <% end %>
    <% else %>
      <p>Not provided</p>
    <% end %>
  </div>
</div>
